/* .App {
  text-align: center;
} */

.smurf {
  margin-left: 3.5rem;
  border: 1px solid #fff;
  background-color: #88ccff;
  color: #fff;
  width: 25rem;
  text-align: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.smurf-form form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 3.5rem;
  margin-bottom: 1.5rem;
}

.smurf-form form input {
  margin-bottom: 1.5rem;
}

.smurf-form form label {
  display: block;
  margin-bottom: 0.5rem;
}